/*#content > .content {
	padding: 15px;
}
*/
.inline {
	margin-bottom: 15px; 
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.filDAriane {
	padding: 15px 25px;
}

.filDAriane .pathName a.faLink {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
}

/**
* NAV BAR
*/

.navBar {
	width: 100%;
	height: 56px;
	min-height: 56px;
	background-color: white;
}

.itemsNavBar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	height: 56px;
}

.itemsNavBar .item {

}

.itemsNavBar .item.searchBar {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.itemsNavBar .item.itemClick {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	padding: 0 40px; 
}

.itemsNavBar .item.itemClick .itemIcon {
	width: 25px;
	height: 25px;
}

.itemsNavBar .item.itemClick .itemIcon.iconMessage {
	background-image: url('/media/image/interface/navbar/icon-message.svg');
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.itemsNavBar .item.itemClick .itemIcon.iconMessage .notif {
	background-color: #E6534E;
	color: white;
	display: block;
	text-align: center;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	left: 60%;
}

.itemsNavBar .item.itemClick .itemIcon.iconInfo {
	background-image: url('/media/image/interface/navbar/icon-info.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.itemsNavBar .item.itemClick .itemLabel {
	font-size: 10px;
	color: #BCBCCB;
}

/**
	* Input Search Bar
	*/
#inputSearchBar {
	width: 100%;
	height: 56px;
	color: #BCBCCB;
	font-size: 15px;
	padding: 0 7px;
	border: 0px;
}

.labelSearchBar {
	background-image: url('/media/image/interface/navbar/icon-search.svg');
	background-repeat: no-repeat;
	background-position: center;
	width: 16px;
	height: 16px;
	margin: 0 15px 0 35px;
}


/* SPINNERS */
.spinner {
	width: 40px;
	height: 40px;

	position: relative;
	margin: 0px auto;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #333;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
	0%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% { 
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

.spinner-xs {
	width: 20px;
	height: 20px;
}

.spinner-lg {
	width: 60px;
	height: 60px;
}


* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'montserratregular';
	src: url('/media/font/montserrat/montserrat-regular.eot');
	src: url('/media/font/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
	url('/media/font/montserrat/montserrat-regular.woff2') format('woff2'),
	url('/media/font/montserrat/montserrat-regular.woff') format('woff'),
	url('/media/font/montserrat/montserrat-regular.ttf') format('truetype'),
	url('/media/font/montserrat/montserrat-regular.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	border: 0;
	padding: 0;
	background-color: #F0F0F7;
	font-family: 'montserratregular', sans-serif !important;
}

.app {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: 100vh;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.leftBar {
	width: 300px;
	min-width: 300px;
	background-color: #6C7A89;
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.leftBar.close {
	width: 90px !important;
	min-width: 90px !important;
}

.leftBar .header {
	background-color: #3156A6;
	width: 100%;
	height: 56px;
	min-height: 56px;
}

.leftBar .header #closeMenuBtn {
	background-color: transparent;
	background-image: url('/media/image/interface/leftbar/sts-full.svg');
	background-repeat: no-repeat;
	background-position: center;
	border: 0;
	width: calc(100% - 24px);
	height: 44px;
	margin: 6px 12px;
}

.leftBar .content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-grow: 1;
}

.leftBar .itemList {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow-y: auto;
	transition: 0.3s;
}

/**
* HIDE ITEM LIST SCROLL BAR
* WORK ONLY FOR CHROME.
*/
.itemList::-webkit-scrollbar {
		width: 0px;
		background: transparent;
}
.itemList::-webkit-scrollbar-thumb {
		background: #6C7A89;
}

.leftBar .itemList .item {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 18px 20px;
	border-bottom: 1px solid #A1ABB7;
	transition: 0.3s;
	min-height: 87px;
}

.leftBar .itemList .item .itemClick {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
}

.leftBar .itemList .item:hover, .item.selected {
	background-color: #243342;
}

.leftBar .itemList .item .itemIcon {
	width: 30px;
	min-width: 30px;
	height: 30px;
	min-height: 30px;
	margin: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.leftBar .itemList .item .itemLabel {
	flex-grow: 1;
	color: white;
	padding: 0 0 0 20px;
	font-size: 14px;
	cursor: pointer;
}

/**
* OTHERS
*/

.leftBar .itemList .item .itemLabel.itemLogo {
	padding: 0 !important;
	text-align: center;
}

.itemListAuthors {
	flex-grow: 1;
}

.itemBySTS, .itemBySTS:hover {
	background-color: #6C7A89 !important;
	flex-grow: 1;
}

.itemByTNG, .itemByTNG:hover {
	background-color: #180530 !important;
}

/**
* SUB ITEM LIST
*/

.subItemList {
	flex-direction: column;
	flex-wrap: nowrap;
	list-style: none;
	display: none;
	transition: 0.3s;
}
.item.selected .subItemList {
	display: flex;
}

.subItem {
	padding: 7px 0 7px 30px;
}

.subItem .subItemClick {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	color: white;
	text-decoration: none;
}

.subItem .subItemIcon {
	width: 30px;
	min-width: 30px;
	height: 30px;
	min-height: 30px;
	border: 2px solid white;
}

.subItem .subItemLabel {
	font-size: 14px;
	padding: 0 0 0 7px;
}


/**
* ON MENU CLOSE STATE
*/
.leftBar.close .itemList .item .itemLabel {
	display: none !important;
}
.leftBar.close .subItemList {
	display: none !important;
}

/**
* FIL D'ARIANE
*/

.filDAriane {

}

.filDAriane > .pathList {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.filDAriane > .pathList > .pathName {
	color: #BCBCCB;
	display: inline-block;
	font-size: 15px;
}

.filDAriane > .pathList > .pathName:after  {
	content: "/";
	padding: 0 5px;
}

.filDAriane > .pathList > .pathName:last-child:after {
	content: '';
}

.filDAriane > .pathList > .pathName > .faLink, .faLink:visited {
	color: #BCBCCB;
	text-decoration: none;
}
















.contentView > div > h2 {
text-transform: 				uppercase;
font-size: 						24px;
color: 							#3156A6;
text-align: 					center;
margin: 						40px 0;
}

.contentView form {
max-width: 						70%;
width: 							1000px;
margin: 						0 auto;
display: 						flex;
flex-wrap: 						wrap;
flex-direction: 				row;
justify-content: 				space-between;
}

.box {
background-color: 				#fff;
box-shadow: 					0 3px 6px rgba(105,105,105, 0.16);
padding: 						20px;
width: 							calc( 50% - 20px );
}

.box-large {
width:              100%;
}

.box + .box {
margin-top: 					40px;
}

.box label {
display: 						block;
text-transform:					uppercase;
font-size:						16px;
color:							#3156A6;
margin-bottom: 					5px;
}

.box label + p {
font-size:						12px;
color:							#A1ABB7;
margin-bottom: 					15px;
}

.box label + input,
.box label + select {
margin-top:          31px;
}

.box input[type=text],
.box input[type=number],
.box select,
.box textarea {
border: 						1px solid #A1ABB7;
padding: 						5px;
width: 							100%;
height:             30px;
}

input[type=number] + input[type=number],
input[type=text] + input[type=text] {
margin-top: 					15px;
}

.box iframe#map {
width: 100%;
margin-top: 20px;
}

.box .inputFile {
width: 							0.1px;
height: 						0.1px;
opacity: 						0;
overflow: 						hidden;
position: 						absolute;
z-index: 						-1;
}

.box .inputFile + div label.btnInputFileName {
cursor: 						pointer;
background: 					#F0F0F7;
display: 						flex;
flex-direction: 				column;
justify-content: 				center;
align-items: 					center;
position: 						relative;
min-height: 					150px;
}

.flexInputFile {
display:              flex;
flex-direction:       row;
flex-wrap:            wrap;
justify-content:      flex-start;
}

.blocInputFileName {
margin: 							10px;
}

label.btnInputFileName img {
background-size: 				cover;
}

.box .inputFile + label.btnInputFileName p {
font-size: 						12px;
text-transform: 				none;
position: 						absolute;
bottom: 						25px;
}

.box p {
font-size:						12px;
color:							#A1ABB7;
}

a {
font-size: 						12px;
color: 							#3156A6;
}

.borderGrey {
padding:            20px 0;
border-top:           1px solid #F0F0F7;
border-bottom:          1px solid #F0F0F7;
margin-bottom:          15px;
}

.btn {
	cursor: pointer;
	text-transform:     uppercase;
	text-decoration:    none;
	border:             1px solid #3156A6;
	font-size:          12px;
	color:              #3156A6;
	padding:            0px;
	width:              250px;
	text-align:         center;
	border-radius:      3px;
	margin:             40px auto 0;
	position:           relative;
}

.btn a {
	width: 100%;
	padding: 15px 5%;
	display: inline-block;
	text-decoration: none;
}

.btn-lg {
	font-size:          16px;
	width:              400px;
}

.btn img {
	left: 5%;
	width: 12%;
	height: auto;
	position: absolute;
	margin-top: 0px;
}

.btn-lg img {
	left: 5%;
	width: 8%;
	height: auto;
	position: absolute;
	margin-top: -3px;
}

button.submit {
text-transform:					uppercase;
border: 						1px solid #3156A6;
background: 					#3156A6;
font-size:						14px;
font-weight: 					bold;
color:							#fff;
padding: 						10px;
width: 							250px;
text-align: 					center;
border-radius: 					3px;
margin: 						40px auto;
}

.boolean{
overflow:hidden;
width: 							100%;
display: 						flex;
justify-content: 				center;
margin: 						20px 0;
}

.boolean label{
float:left;
padding:0.5em;
line-height:38px;
text-transform:					uppercase;
font-size:						16px;
color:							#3156A6;
cursor: 						pointer;
}

.boolean .style{
float:left;
background:gray;
border-radius:20px;
height:35px;
padding:2px;
margin:10px;
width:70px;
cursor: pointer;
position:relative;
}
.boolean input{
		display: none;
}
.boolean .style div{
background:           #fff;
border-radius:50%;
height:31px;
width:31px;
position: absolute;
left: 52%;

transition: left 0.3s;
}

.boolean label:first-of-type {
	color: grey;
}

.boolean label:last-of-type {
	color: #3156A6;
}

.boolean.on label:first-of-type {
	color: #3156A6;
}

.boolean.on label:last-of-type {
	color: grey;
}

.boolean.on .style{
background:           #3156A6;
}
.boolean.on .style div{
	left: 2%;
}







@media screen and (max-width: 1350px) {

	.contentView form {
	max-width: 						inherit;
	width: 							inherit;
	}

	.box + .box {
	width: 							100%;
	}

}