.box textarea {
height: 				calc( 5 * 30px + 4 * 15px );
}

#box-Localisation input + p {
margin-top: 					40px;
}

#box-Localisation input + p::before {
content: 						'';
display: 						block;
width: 							100%;
height: 						1px;
background: 					#F0F0F7;
position: 						relative;
top: 							-20px;
}

#box-imgs-interest .blocInputFileName label.btnInputFileName {
max-width:           calc( 200px - 20px );
min-width:          150px;
}
