* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'montserratregular';
  src: url('/media/font/montserrat/montserrat-regular.eot');
  src: url('/media/font/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
  url('/media/font/montserrat/montserrat-regular.woff2') format('woff2'),
  url('/media/font/montserrat/montserrat-regular.woff') format('woff'),
  url('/media/font/montserrat/montserrat-regular.ttf') format('truetype'),
  url('/media/font/montserrat/montserrat-regular.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#content .form {
	width: 500px;
}

body {
margin: 				0;
border: 				0;
padding: 				0;
background-color: 		#F0F0F7;
width: 					100%;
height: 				100vh;
font-family: 			'montserratregular', sans-serif !important;
}

#content > .content {
padding-left: 			0;
}

#global	{
display: 				flex;
flex-direction: 		row;
}

#imgMobile {
display: 				none;
}

.logo {
display: 				flex;						
width: 					40%;
background: 			white;
}

.logo img {
margin: 				auto;
width: 					50%;
height: 				auto;
}

.all {
flex-direction: 		column;
width: 					60%;
height: 				100vh;
}

.form {
display: 				flex;	
width: 					100%;
height: 				85vh;
align-items: 			center;
justify-content: 		center;
margin: 				0 auto;
border: 				none;
padding-top: 			10%;
}

.form input {
background: 			none;
border: 				none;
border-bottom: 			1px solid #3156A6;
width: 					400px;
font-family: 			'montserratregular', sans-serif !important;		 
font-size: 				18px;
}

.form input::placeholder {
color:                  #3156A5; 					
}
 
.form button {
width: 					200px;
height: 				48px;
border-style:  			none;
border-radius:			5px;
background: 			#3156A6;
color: 					#fff;
font-family: 			'montserratregular', sans-serif !important;
font-size: 				18px;
}

.forget, .forget a {
margin-top: 			4px;
text-align: 			right;
text-decoration: 		none;
font-size: 				12px;
} 

.login {
text-align: 			center;
margin-top: 			50px;
}

.site {
display: 				flex;
width: 					100%;
}

.link, a {
color: 					#3156A6;
margin: 				0 auto;
}


@media only screen
and (max-width: 750px) {

	#global {
	flex-direction: 		column;
	}
	
	.logo {
	background-color: 		#3156A6;
	width: 					100%;
	height: 				50px;
	}

	#imgMobile {
	display: 				inherit;
	width: 					250px;
	height: 				auto;
	}

	#imgDesktop {
	display: 				none;	
	}

	.logo img {
	width: 					40%;
	height: 				auto;
	}

	.all {
	margin: 				0 auto;
	width: 					100%;
	}
	.form {
	height: 				50vh;
	}

	.form input{
	width: 					200px;
	font-size: 				15px;
	}

	.link {
	margin-top: 			10px;
	}

}