.mainContent {
<<<<<<< HEAD
padding: 					0 20px;
=======
padding: 					2%;
>>>>>>> 605c44cc2e8c4b93ba8a032469cefe0100234bba
}

h3 {
font-weight: 				normal;
font-size: 					16px;
color: 						#3156A6;
text-transform: 			uppercase;
margin-bottom: 				5px;
margin-bottom: 				15px;
}

p + p {
margin-top: 				15px;
<<<<<<< HEAD
}

ul {
margin-left: 				10px;
margin-bottom: 				15px;
}

li {
font-size: 					12px;
color: 						#A1ABB7;
}
=======
}
>>>>>>> 605c44cc2e8c4b93ba8a032469cefe0100234bba
