#contentView {
	padding: 0 15px;
}

.mainContent {
padding: 					0 20px;
}

h3 {
font-weight: 				normal;
font-size: 					16px;
color: 						#3156A6;
text-transform: 			uppercase;
margin-bottom: 				5px;
margin-bottom: 				15px;
}

p + p {
margin-top: 				15px;
}

ul {
margin-left: 				10px;
margin-bottom: 				15px;
}

li {
font-size: 					12px;
color: 						#A1ABB7;
}
