.tab-selector {
	width: 1040px;
	max-width: 70%;
	position: relative;
	margin: 0px auto 24px auto;
	border-bottom: 2px solid #3156A6;
}

.tab-selector .tab-triggers{
	display: inline-block;
}

.tab-selector .tab-trigger{
	color: #3156A6;
	margin-right: 0;
	cursor: pointer;
	padding: 3px 15px;
	display: inline-block;
	text-transform: capitalize;
	
	border: 2px solid #3156A6;
	border-bottom: none;
}

.tab-selector .tab-triggers div.tab-trigger:first-of-type{
	border-radius: 4px 0px 0 0;
}

.tab-selector .tab-triggers div.tab-trigger:last-of-type{
	border-radius: 0px 4px 0 0;
}

.tab-selector .tab-trigger.on{
	color: white;
	background-color: #3156A6;
}

.tab-trigger[disabled] {
    background-color: #d5d5d5;
    color: white;
    border-color: #d5d5d5;
}

.tab-selector .lang-only{
	right: 0;
	bottom: 0;
	position: absolute;
	display: inline-block;
}

.tab-selector .lang-only {
	display: none;
}

.tab-selector[target='fr'] .lang-only[target='fr'] {
	display: inline-block;
}

.tab-selector[target='en'] .lang-only[target='en'] {
	display: inline-block;
}

.cust-checkbox {
	cursor: pointer;
	text-transform: capitalize;
}

.cust-checkbox .check {
	width: 18px;
	height: 18px;
	border-radius: 15%;
	position: relative;
	vertical-align: sub;
	display: inline-block;
	border: 2px solid #3156A6;
}

.cust-checkbox input[type="checkbox"] {
	display: none;
}

.cust-checkbox .check > div {
	top: 1px;
	left: 1px;
	width: 12px;
	height: 12px;
	border-radius: 15%;
	position: absolute;
	display: inline-block;
}

.cust-checkbox.on .check > div {
	background: #3156A6;
}

.tab {
	display: none;
}

.tab.on {
	display: initial;
}

.tab {
	display: none;
}

.tab {
	display: none;
}

.audio-name {
	
}

.box .borderGrey .blocInputFileName label.btnInputFileName {
	text-align: center;
	text-transform: initial;
}
.box .borderGrey .blocInputFileName label.btnInputFileName img{
	margin-bottom: 15px;
}

#box-Interets ul.interest-list {
	color: gray;
	list-style: none;
	overflow-y: auto;
	max-height: 400px;
	padding-left: 15px;
	text-transform: uppercase;
}

#box-Interets ul.interest-list li {
	width: 100%;
}

ul.interest-list a {
    padding: 5px 0;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: gray;
    width: 100%;
}
ul.interest-list a:hover {
	text-decoration: underline;
}

textarea#description {
	min-height: 250px;
}


#box-Ville.box {
	margin-top: 0;
}

.color-selector{
	display: none;
}

.cust-color-selector {
	width: 100%;
	height: 46px;
	cursor: pointer;
	max-width: 350px;
	border: 1px solid;
	padding: 0px 0px;
	position: relative;
}

.cust-color-selector div.option-container{
	/* display: none; */
}

.cust-color-selector div.opt-color {
    border: 1px solid;
    margin-right: 5px;
    padding: 10px 20px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 4px;
}

.cust-color-selector div.sel-opt {
    width: 100%;
    padding: 5px 10px;
}

.cust-color-selector div.sel-opt:hover,
.cust-color-selector div.sel-opt.selected {
	background-color: lightgray;
}

.cust-color-selector .sel-opt.opt-selected:hover {
	background-color: white;
}

.cust-color-selector .sel-opt.opt-selected div.opt-color {
    margin-top: 0;
}

.cust-color-selector div.option-container {
    left: -1px;
    right: -1px;
    top: 100%;
    padding: 5px 0px;
    border: 1px solid;
    position: absolute;
    background-color: white;
}

.cust-color-selector div.opt-text {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 52px);
}

